body {
	background: $blue;
	font-size: 62.5%;
	position: relative;
}

.clothesline {
	position: absolute;
	top: 0;
	left: 77.25%;
	// z-index: -5;
	width: 20%;
	transform: rotate(25deg);
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 2rem;
}

header {
	.homeLink {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding-top: 1rem;
		text-decoration: none;
	}
}

.logo {
	max-width: 7rem;
	margin: 0 auto;
	text-align: center;
}

button {
	background-color: $purple;
	border: none;
	&:focus {
		outline: 0;
	}
}

.backLinks {
	margin: 0.25rem;
	padding: 0.5rem;
	border: 2px dotted $aqua;
	background: none;
	color: $purple;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 0.5rem;
	&:hover {
		border: 2px dotted $purple;
		color: $aqua;
	}
}

nav {
	background: $aqua;
	margin-top: 2rem;
	.wrapper {
		padding: 1rem;
		max-width: 60%;
		margin: 0 auto;
		.links {
			display: flex;
			justify-content: center;
			align-content: center;
			a {
				padding: 1rem;
				width: 50%;
				margin: 0;
			}
		}
	}
}

footer {
	background: $purple;
	.wrapper {
		// display: flex;
		// justify-content: center;
		// align-content: center;
		// align-items: center;
		padding: 1rem;
		p {
			width: 100%;
			padding: 1rem;
			margin: 0;
			// display: inline-block;
		}
	}
}
