body {
	background: $blue;
	font-size: 62.5%;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 2rem;
}

header {
	.homeLink {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding-top: 1rem;
		text-decoration: none;
	}
	nav {
		background: $aqua;
		.wrapper {
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 1rem;
			a {
				padding: 1rem;
				width: 50%;
				margin: 0;
			}
		}
	}
}

.logo {
	max-width: 5rem;
	margin: 0 auto;
	text-align: center;
}

button {
	color: $white;
	background-color: $red;
	border: none;
	&:focus {
		outline: 0;
	}
}

footer {
	margin-top: 2rem;
	background: $aqua;
	.wrapper 	{
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 1rem;
		p {
			width: 45%;
			padding: 1rem;
			margin: 0;
			display: inline-block;
		}
	}
}
