body {
	background: $blue;
	// background: url('../../assets/bruno-nascimento-113628.jpg');
	// background-size: contain;
	// background-repeat: no-repeat;
	// opacity: 50%;
	font-size: 62.5%;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
}
