#map {
	// height: 100%;
	height: 300px;
	width: 100%;
}

button {
	color: $white;
	background-color: $red;
	border: none;
}

.markerFlag {
	background: rebeccapurple;
	border-radius: 50%;
	box-shadow: 0 0 3px darkgrey;
	position: relative;
	width: 20px;
	height: 20px;
	display: block;
	cursor: pointer;
	.displayLaundromatName {
		background: yellow;
	}
	&:hover .displayLaundromatName {
		display: block;
	}
}
