/* Landscape phone to portrait tablet */
@media (max-width: 480px) {
	header nav .wrapper {
		display: block;
		a {
			width: 100%;
			display: block;
		}
	}
	#gallery .galleryItem {
		max-width: 100px;
	}
	#geoButton {
		width: 10rem;
	}
	footer .wrapper {
		display: block;
		p {
			display: block;
			width: 100%;
		}
	}
}
