h1 {
	color: $white;
	font-family: 'Overpass', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}

h3 {
	color: $white;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	font-size: 1.5rem;
}

button {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-family: 'Overpass', sans-serif;
}
