a {
	color: $purple;
	text-decoration: none;
	&:hover {
		color: black;
	}
}

h1 {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
}

h3 {
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1.5rem;
}

.homeLink h3 {
	font-style: italic;
	margin-top: 0;
}

h4 {
	color: $purple;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.gallery h4 {
	display: inline-block;
	color: black;
}

nav .wrapper p, nav a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	text-decoration: none;
	text-align: center;
}

button {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 0.5rem;
	color: #ffffff;
}

.laundrySteps ol {
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

footer {
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1rem;
	a {
		color: white;
		&:hover {
			color: black;
		}
	}
}

p, .laundrySteps li {
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.5rem;
}

.laundrySteps li {
	margin-bottom: 0.75rem;
}

.laundrySteps ul {
	margin-top: 0.75rem;
}
