a {
	color: $red;
	text-decoration: none;
	&:hover {
		color: $white;
	}
}

h1 {
	color: $white;
	font-family: 'Short Stack', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}

h3 {
	color: $white;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	font-size: 1.5rem;
}

h4 {
	color: $red;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.gallery h4 {
	display: inline-block;
	color: $white;
}

nav a {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	text-align: center;
}

button {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-family: 'Short Stack', sans-serif;
}

.laundrySteps ol {
	color: $white;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1rem;
}

footer {
	color: $white;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	font-size: 1rem;
}

p, .laundrySteps li {
	color: $white;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
}

.laundrySteps li {
	margin-bottom: 0.75rem;
}

.laundrySteps ul {
	margin-top: 0.75rem;
}
